@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.restart-container {
	@include modal-container;

	.restart-title {
		font-size: 40px;
		color: $display-gray-color;
		margin-bottom: 31px;
	}

	.result-buttons {
		@include result-standard-buttons;

		.resume-button {
			@include button-style($display-gray-color, #6b8997);
			&:hover {
				background-color: #dbe8ed;
			}
		}

		.quit-to-home {
			@include button-style($normal-o-color, #cc8b13);
			&:hover {
				background-color: #ffc860;
			}
		}
	}
}
